.App {
  text-align: center;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Personagens {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.Personagens div {
  padding: 0rem 2rem;
}

.Personagens p {
  background: darkseagreen;
  border-radius: 1rem;
  max-width: 15rem;
  margin: 1rem auto;
  padding: .4rem;
  color: white;
}

.App button {
  padding: .5rem 2rem;
  border: 1px solid black;
  border-radius: .5rem;
  background: linear-gradient(50deg, #b1e9ca, #00fd5a);
  cursor: pointer;
  margin: 0 1rem;
}

.App button:hover {
  background: linear-gradient(50deg, #63e09c, #017a2b);
}