.App {
  text-align: center;
  margin: 0 auto;
}

.Personagens {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.Personagens .card {
  background: #2a2a2a;
  border-radius: 1rem;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 1.5rem 1.5rem;
  height: 23rem;
  width: 18rem;
  box-shadow: 0px 1px 18px 3px rgba(0, 0, 0, 0.72);
}

.Personagens .infos {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Personagens .infos div {
  border: 1px solid #FFF;
  color: #FFF;
  margin: auto 1.5rem;
  padding: .3rem .6rem;
}

.Personagens p {
  font-weight: bold;
  color: #FFF;
  border: 1px solid;
  padding: .3rem;
}

.Personagens img {
  border-radius: 50%;
  width: 55%;
  box-shadow: 0px 1px 18px 3px rgba(77, 209, 99, 0.57);
}

.App button {
  padding: .5rem 2rem;
  border: 1px solid black;
  border-radius: .5rem;
  background: linear-gradient(50deg, #b1e9ca, #00fd5a);
  cursor: pointer;
  margin: 0 1rem;
}

.App button:hover {
  background: linear-gradient(50deg, #63e09c, #017a2b);
}

.Personagens .card:hover {
  width: 20rem;
  height: 25rem;
  cursor: pointer;
}